.controls {
    display: flex;
    justify-content: center;
    
    .button {
        padding: .75rem;
        width: 100px;
        text-align: center;
    }
    
    .button:first-child {
        margin-right: 1.5rem;
    }
}